# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyc

# Virtual Environments
.venv/
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/
.eggs/
target/

# ==========================
# Streamlit
# ==========================
.streamlit/secrets.toml

# ==========================
# dbt
# ==========================
IPL_DBT_PROJECT/target/
IPL_DBT_PROJECT/logs/

# ==========================
# Temporary Output
# ==========================
producer/output/consumer_events.json
producer/output/consumer_events_temp.json

# ==========================
# Large IPL Datasets
# ==========================
data/IPL.csv
data/IPL_fixed.csv
data/IPL_snowflake.csv

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db